---
layout: page
title: Kandidáti Pirátů pro volby do zastupitelstva města Valašské Meziříčí
rbar: ""
ogimage: https://raw.githubusercontent.com/pirati-web/valmez.pirati.cz/master/assets/img/miscellaneous/fbnahled.jpg
---
<div class="row o-section-block o-section-block--divided">
  <div class="medium-12 large-12 columns">
    <section class="o-section">
      <div class="o-section-inner">
        <main class="o-section-block">
          <div class="c-BasicPage">
            <div class="c-BasicPage-content">
              <div class="jmk-candidates">
               <div class="row">
                  {% assign team = site.people | where_exp:"item","item.categories contains 'kandidat'" | sort:"ordkandidat"  %}
                  {% for item in team limit:8 %}
                    {% include people/kandidat.html param=item order='ordkandidat' %}
                  {% endfor %}

                  {% for item in team offset:8 limit:17 %}
                    {% include people/kandidat-small.html param=item order='ordkandidat' %}
                  {% endfor %}


                 <!--{% include people/kandidat-mini.html order='12' name='jm' job=' <br /> <br />nezávislý kandidát' %}
                 {% include people/kandidat-mini.html order='13' name='jm' job=' <br /> <br />nezávislý kandidát' %}
                 {% include people/kandidat-mini.html order='14' name='jm' job=' <br /> <br />nezávislý kandidát' %}
                 {% include people/kandidat-mini.html order='15' name='jm' job=' <br /> <br />nezávislý kandidát' %}
                 {% include people/kandidat-mini.html order='16' name='jm' job=' <br /> <br />nezávislý kandidát' %}
                 {% include people/kandidat-mini.html order='17' name='jm' job=' <br /> <br />nezávislý kandidát' %}-->






                </div>

              </div>
            </div>
          </div>
        </main>
      </div>
    </section>
    <!-- /. o-section -->
  </div>
</div>
